.col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board.py-5 {
    width: 123%;
    left: -23%; 
}
@media (max-width: 767px) {
    .col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board.py-5 {
        width: 100%;
        left: 0; 
    }
}
@media (max-width: 424px) {
    .col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board.py-5 {
        width: 100%;
        left: 0; 
    }
}

figure.highlight { /* 控制代码框顶栏颜色、宽度、圆角等 */
    /*
    background: #21252b;
    background: rgb(246,248,250);
    */
    background: #282a36;
    border-radius: 8px;
    box-shadow: 1px 2px 22px 1px rgba(0, 0, 0, .3);
    padding-top: 25px;
    z-index:998;
}

figure.highlight::before { /* 绘制三个小圆点 */
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
    height: 12px;
    left: 12px;
    margin-top: -15px;
    position: absolute;
    width: 12px;
    z-index:999;
}
